---
---

@import "{{ site.theme }}";

.cover {
  max-width: none;
  display: block;
  padding: 4em 0 0;
  background: #b71c1c url("/banner.png") center center no-repeat;
  background-size: cover;
  box-shadow: inset 0 -7px 16px -12px #222;
  margin-bottom: 2em;
}
